<div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-8">
      <h3>Go To The Nearest Verification Center</h3>
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-gujarath-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">ASIA</a>
            <a class="list-group-item list-group-item-action" id="list-raj-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">SOUTH AMERICA</a>
            <a class="list-group-item list-group-item-action" id="list-pun-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">AFFRICA</a>
            <a class="list-group-item list-group-item-action" id="list-jk-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Jammu & Kashmir</a>
            <a class="list-group-item list-group-item-action" id="list-hp-list" data-toggle="list" href="#list-settings1" role="tab" aria-controls="settings1">Himachal Pradesh</a>
            <a class="list-group-item list-group-item-action" id="list-uk-list" data-toggle="list" href="#list-settings2" role="tab" aria-controls="settings2">Uttrakhand</a>
            <a class="list-group-item list-group-item-action" id="list-sk-list" data-toggle="list" href="#list-settings3" role="tab" aria-controls="settings3">Sikkim</a>
            <a class="list-group-item list-group-item-action" id="list-ne-list" data-toggle="list" href="#list-settings4" role="tab" aria-controls="settings3">North East</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-gujarath-list">compplex</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-raj-list">Rajasthan</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-pun-list">Punjab</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-jk-list">J&K</div>
            <div class="tab-pane fade" id="list-settings1" role="tabpanel" aria-labelledby="list-hp-list">Himachal</div>
            <div class="tab-pane fade" id="list-settings2" role="tabpanel" aria-labelledby="list-uk-list">UKKK</div>
            <div class="tab-pane fade" id="list-settings3" role="tabpanel" aria-labelledby="list-sk-list">sikkim add1 <hr>sikkim add2 <hr>sikkim add3</div>
            <div class="tab-pane fade" id="list-settings4" role="tabpanel" aria-labelledby="list-sk-list">North east address</div>
  
  
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      
    </div>
  
  </div>