<app-header></app-header>

<div class="container">
<div class="row">
    <div class="col-sm-6">
        <img src="../../../assets/images/army.jpg" alt="">
        <div>
            <button type="button" name="" id="" class="btn  btn-outline-dark" btn-lg btn-block >ARMY</button>
        </div>
    </div>
        <div class="col-sm-6">
            <img src="../../../assets/images/nri.jpg" alt="">
            <div>
                <button type="button" name="" id="" class="btn  btn-outline-dark" btn-lg btn-block>NRI</button> 
            </div>
        </div>       
</div>
</div>

<app-foot></app-foot>
