<div class="container">
  <h1>Voting Details</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla dolore earum eius illum, nesciunt saepe dignissimos esse! Illo nam odio iusto natus earum, officiis, quis quo sapiente sit, quidem minima?</p>

  <h1>message</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas deserunt itaque necessitatibus beatae labore. Suscipit repudiandae nisi, commodi odio molestiae aperiam impedit possimus id deleniti, obcaecati voluptates quis! Illo, consequatur.</p>
  
</div>

<app-foot></app-foot>