.navbar-inner {
  background-color:transparent;
}
.navbar{
  padding :0px;
  margin :0px;
  position: relative;

}
img{
  margin:0 px;
}
#logo{
  padding : 0px;
  padding-right: 7px;
  margin :0px;
  height: auto;
  width: 32px;

}