
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            
        </div>
        <div class="col-sm-8">
            <form (ngSubmit)="onSubmit()" >
                <small id="emailHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
                <div class="form-group">
                  <label for="name"><h4>Enter name</h4></label>
                  <input type="text" (input)="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label for="em"><h4>Enter email</h4></label>
                  <input type="email" (input)="email" class="form-control" id="em" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="em"><h4>Enter phone number</h4></label>
                    <input type="email" (input)="phno" class="form-control" id="em" placeholder="ph no">
                </div>
                <div class="form-group form-radio" (input)="sex">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary ">
                      <input type="radio" name="gen" id="" autocomplete="off" checked>male
                    </label>
                    <label class="btn btn-primary">
                      <input type="radio" name="gen" id="" autocomplete="off">female
                    </label>
                    
                  </div>
                  <div class="form-group">
                      <label for=""><h4>address</h4></label>
                      <textarea (input)="addr" class="form-control" name="" id="" rows="3"></textarea>
                    </div>
                </div>
                <button class="btn btn-lg btn-outline-primary" routerLink="/details">Submit</button>
              </form>
        </div>
        <div class="col-sm-2">
            
        </div>
                 
    </div>
</div>