<div class="container">
  <h1>Project </h1>
  <p>
  Millions of military personals are eligible to vote but are not able to make it to their constituencies to cast their votes because of the difficulty in travelling to their respective constituencies.
</p>
<p>
  Non resident Indians (NRI) also face the same difficulty in casting their votes.
  </p>
    <H1>Project Objectives</H1>
<p>A Revolutionary system that will replace the traditional pen and paper scheme with a new election structure that is secure, fraud free and will provide immediate results.</p>
<p>We in our project have used blockchain as a service to enable electronic voting system.
</p>
<h1>Project By</h1>
  <p>Sudershan K H</p>
  <p>Eshwar p Readdy</p>
  <p>Sharath kumar s</p>
  <p>Kishore Nadiger</p>
</div>
<app-foot></app-foot>
