<div class="container">
  <h1>Project </h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam veritatis consectetur nihil, iure ipsum numquam nisi veniam at repellendus facilis quasi iste accusamus nesciunt praesentium? Velit libero obcaecati minus harum.</p>
  <H1>Project Objectives</H1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate accusamus praesentium quasi dolorum expedita odio odit illum modi nam, iure doloribus nulla maxime ipsum voluptatum rem corporis non dignissimos molestias?</p>
  <h1>Project By</h1>
  <p>Sudershan K H -HOD CSE</p>
</div>
<app-foot></app-foot>
